html {
  height: 100%;
}


body {
  
  margin: 0;
  /* On défini le fond du site */
  background: url("data/images/html/fonds.jpg") no-repeat center fixed;
  background-size: cover;

  /* Par défaut on utilise Joystick */
  font-family: Joystick, Arial, Helvetica, "Liberation Sans", FreeSans,
    sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, li, i, img, tr {
  /* Tous les textes sont blancs */
  color: white;
}

p a {
  /* "p a" fait référence aux liens qui se trouve dans un paragraphe */
  /* Il faut éviter d'augmenter leur taille */
  font-size: 0.95em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.2em;
}

ul {
  /* On ne veut pas de points dégueulasses devant
  les éléments des listes */
  list-style: none;
}

header {
  /* On change la couleur de l'entête, on applique une petite bordure en bas
  et une ombre légère en dessous */
  background-color: var(--color1);
  border-bottom: 3px solid var(--contour-color);
  box-shadow: 0px 0px 3px 0px;
}

section {
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;

  padding: 2%;
  padding-bottom: 0;

  border-right: 2px solid var(--color1);
  border-left: 2px solid var(--color1);
  border-bottom: 2px solid var(--color1);
  border-radius: 0px 0px 20px 20px;
  background-color: var(--color3);


  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 700px;
}

article {
  width: 100%;
}

section p {
  text-align: justify;
}

section > h1 {
  text-align: center;
}

section > h2 {
  margin-bottom: 0;
}

h1 {
  margin-bottom: 5px;
}




.merge{
	width: 960px;
	height: 499px;
}